@{
    ViewData["Title"] = "Wydania zewnętrzne";
}

<div class="container mt-5">
    <h1>Lista wydań zewnętrznych</h1>
    <a href="@Url.Action("CreateExternalReceipt", "Home")" class="btn btn-primary mb-3">Nowe wydanie zewnętrzne</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Numer wydania</th>
                <th>Ilość produktów</th>
                <th>Data wydania</th>
                <th>Wprowadzający</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var receipt in Model)
            {
                <tr>
                    <td>@receipt.Id</td>
                    <td>@receipt.Details.Count</td>
                    <td>@receipt.Date.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>@receipt.User.Username</td>
                    <td>
                        <a href="@Url.Action("ExternalReceiptDetails", "Home", new { id = receipt.Id })" class="btn btn-info">Zobacz szczegóły</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>